body {
  min-height: 100vh;
  background-image: url("../assets/paper-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2rem solid $highlight-color;

  font-size: 125%;
  font-family: $base-font;
  color: $base-color;
  line-height: 1.6;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.sample-text {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.label-box {
  align-self: center;
  text-align: center;
}

.sample-text-box {
  background-color: #fafafa;
  box-shadow: -3px 3px 3px 0 $highlight-color;
  color: $base-color;
  padding: .5em;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

