body {
  font-size: 125%;
}

.intro p {
  line-height: 1.5;
}

.button-begin {
  padding: .5em 2em;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.choice-form {
  width: 100%;
  padding: 0;
  margin: 3rem 0;
  display: flex;

}

fieldset {
  width: 30%;
  border: none;
  padding: 0;
}

label, 
select {
  display: block;
}

.sample-label {
  font-family: .8rem;
  font-weight: 200;
  margin: 0;
  text-align: right;
}

.demo {
  margin: 0;
  line-height: .75em;
}

.hidden {
  display: none;
}

.sample-text {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.label-box {
  align-self: center;
}

.sample-text-box {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: .5em;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}