.demo {
  margin: 0;
  line-height: .75em;
  font-family: var(--demo-font-family);
}

.demo-small {
  font-size: var(--demo-font-size-small);
}

.demo-body {
  font-size: var(--demo-font-size-p);
}

.demo-h6 {
  font-size: var(--demo-font-size-h6);
}

.demo-h5 {
  font-size: var(--demo-font-size-h5);
}

.demo-h4 {
  font-size: var(--demo-font-size-h4);
}

.demo-h3 {
  font-size: var(--demo-font-size-h3);
}

.demo-h2 {
  font-size: var(--demo-font-size-h2);
}

.demo-h1 {
  font-size: var(--demo-font-size-h1);
}

