html {
  --demo-font-size-small: 1rem;
  --demo-font-size-p: 1rem;
  --demo-font-size-h6: 1rem;
  --demo-font-size-h5: 1rem;
  --demo-font-size-h4: 1rem;
  --demo-font-size-h3: 1rem;
  --demo-font-size-h2: 1rem;
  --demo-font-size-h1: 1rem;
  --demo-font-family: 'Courier';
}

$highlight-color: rgba(255, 249, 70, 0.65);
$accent-color: rgb(193, 12, 12);
$base-color: rgb(23, 23, 200);

$base-font: 'Lato', sans-serif;
$heading-font: 'Permanent Marker', cursive;
