html {
  --demo-font-size-small: 1rem;
  --demo-font-size-p: 1rem;
  --demo-font-size-h6: 1rem;
  --demo-font-size-h5: 1rem;
  --demo-font-size-h4: 1rem;
  --demo-font-size-h3: 1rem;
  --demo-font-size-h2: 1rem;
  --demo-font-size-h1: 1rem;
  --demo-font-family: 'Courier';
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'scratchregular';
  src: url("../assets/Scratch-webfont.woff2") format("woff2"), url("../assets/Scratch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.main-title {
  position: relative;
  font-family: "scratchregular", cursive;
  font-size: 5.61rem;
  color: #1717c8;
  text-shadow: -3px 3px 0 rgba(255, 249, 70, 0.65);
  text-align: center;
  margin-bottom: 4rem;
  line-height: .95;
}

.main-title::before, .main-title::after {
  position: absolute;
  display: block;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  top: 50%;
  font-size: 2.1rem;
  color: #c10c0c;
}

.main-title::before {
  content: "HANDY!";
  left: 0;
}

.main-title::after {
  content: "DANDY!";
  right: 0;
}

.intro p {
  font-size: 1.33rem;
}

.sample-label {
  font-size: 1rem;
  margin: 0;
}

footer p {
  margin: 4rem 0 1rem;
  text-align: center;
  font-size: .75rem;
}

body {
  min-height: 100vh;
  background-image: url("../assets/paper-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2rem solid rgba(255, 249, 70, 0.65);
  font-size: 125%;
  font-family: "Lato", sans-serif;
  color: #1717c8;
  line-height: 1.6;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.sample-text {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.label-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.sample-text-box {
  background-color: #fafafa;
  -webkit-box-shadow: -3px 3px 3px 0 rgba(255, 249, 70, 0.65);
          box-shadow: -3px 3px 3px 0 rgba(255, 249, 70, 0.65);
  color: #1717c8;
  padding: .5em;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.get-css-block {
  position: relative;
}

.copied-success-message {
  position: absolute;
  width: 30%;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  padding: .5rem 2rem;
  text-align: center;
  background-color: #1717c8;
  -webkit-box-shadow: -3px 3px 3px 0 rgba(255, 249, 70, 0.65);
          box-shadow: -3px 3px 3px 0 rgba(255, 249, 70, 0.65);
  color: #fafafa;
  font-size: 1.3rem;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  display: block;
  margin: 2rem auto 3rem;
  font-family: "scratchregular", cursive;
  font-size: 3.16rem;
  color: #c10c0c;
  text-shadow: -3px 3px 0 rgba(255, 249, 70, 0.65);
  padding: .5em 2em;
}

.button:focus, .button:hover {
  color: #1717c8;
}

.button:active {
  color: #1717c8;
  text-shadow: -3px 3px 0 #c10c0c;
}

.choice-form {
  width: 100%;
  padding: 0;
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

label,
.choice-dropdown {
  display: block;
}

.choice-dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  margin: 0 auto;
  background-color: #fafafa;
  color: #1717c8;
  padding: .5em 1em;
  border: 2px solid #1717c8;
  border-radius: 4px;
  -webkit-box-shadow: -4px 4px 0 rgba(255, 249, 70, 0.65);
          box-shadow: -4px 4px 0 rgba(255, 249, 70, 0.65);
  background-image: url("../assets/down-arrow.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 90% center;
}

label {
  position: relative;
  margin: 1em 0 .5em;
  font-family: "scratchregular", cursive;
  font-size: 1.78rem;
  text-align: center;
}

.button-get-css {
  margin-top: 4.5rem;
  position: relative;
  font-size: 2.1rem;
}

.button-get-css::before {
  content: "3";
  text-shadow: none;
  line-height: 1.6;
}

.label-one::before {
  content: "1";
}

.label-two::before {
  content: "2";
}

.label-one::before,
.label-two::before,
.button-get-css::before {
  font-family: "scratchregular", cursive;
  font-size: 2.37rem;
  color: #fafafa;
  position: absolute;
  display: block;
  bottom: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  background-image: url("../assets/starburst.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

fieldset {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: none;
  padding: 0;
}

.demo {
  margin: 0;
  line-height: .75em;
  font-family: var(--demo-font-family);
}

.demo-small {
  font-size: var(--demo-font-size-small);
}

.demo-p {
  font-size: var(--demo-font-size-p);
}

.demo-h6 {
  font-size: var(--demo-font-size-h6);
}

.demo-h5 {
  font-size: var(--demo-font-size-h5);
}

.demo-h4 {
  font-size: var(--demo-font-size-h4);
}

.demo-h3 {
  font-size: var(--demo-font-size-h3);
}

.demo-h2 {
  font-size: var(--demo-font-size-h2);
}

.demo-h1 {
  font-size: var(--demo-font-size-h1);
}

.rotate {
  display: block;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .main-title::before,
  .main-title::after {
    content: "";
    width: 5vw;
    height: 5vw;
    background-image: url("../assets/star-red.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 675px) {
  .button {
    font-size: 2.1rem;
  }
}

@media (max-width: 600px) {
  .main-title {
    font-size: 4.2rem;
  }
  .choice-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  fieldset {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  fieldset:last-of-type {
    margin-top: 2rem;
  }
  .label-box {
    grid-column: 1 / -1;
    text-align: left;
  }
  .sample-text-box {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
  }
}

@media (max-width: 475px) {
  body {
    border: 1.2rem solid rgba(255, 249, 70, 0.65);
  }
  .main-title {
    font-size: 3.6rem;
  }
  .main-title::before {
    display: none;
  }
  .main-title::after {
    top: 110%;
    right: 50%;
  }
  .intro p {
    font-size: 1.13rem;
  }
}
/*# sourceMappingURL=styles.css.map */